body {
  background-color: lightgrey;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5 rem;
}

.albums {
  display: flex;
  max-width: 50%;
}

.albumcard {
  margin-left: 20px;
  width: auto;
}

.albumcover {
  max-width: 300px;
}

.albumtext {
  margin-top: 0px;
  text-align: left;
}

#main {
  text-align: center;
  width: 95%;
  max-width: 980px;
}

#header {
  background-color: rgb(99, 124, 109);
  color: lightgrey;
  border: 3px solid magenta;
}

#img-div {
  align-items: center;
  justify-content: center;
  margin: 60px 20px 20px 20px;
  border: 3px solid magenta;
}

#image {
  max-width: 100%;
  height: auto;
}

#img-caption {
  font-size: 0.75rem;
}
