body {
  font-size: 1.125rem;
  color: #707070;
  margin: 0;
}

/* Typography */
h1 {
  font-size: 3rem;
  color: #212614;
}

h2 {
  font-size: 1.5rem;
}

p span {
  color: #b7832f;
}

/* Layout */

img {
  max-width: 100%;
}

.albums {
  display: flex;
  max-width: 100%;
}

.albumcard {
  margin-left: 20px;
  width: auto;
}

.albumcover {
  max-width: 300px;
  width: 300px;
}

.albumtext {
  margin-top: 0px;
}

#main {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}

#img-div {
  margin: 40px 20px 20px 20px;
}

#img-caption {
  font-size: 0.75rem;
}

.test {
  border: 2px solid magenta;
}
