body {
  margin: 0;
  padding: 0;
}

header {
  font-size: 1.5rem;
  font-weight: 700;
}

code {
  display: block;
  padding: 0.5rem;
  background-color: lightgray;
  border: 1px solid black;
}

img {
  max-width: 100%;
}

figcaption {
  font-style: italic;
}

.highlight {
  color: red;
}

#navbar {
  margin-left: 5px;
}

@media (min-width: 800px) {
  #navbar {
    width: 300px;
    position: fixed;
    width: 25%;
    height: 100%;
    overflow: auto;
  }

  #main-doc {
    position: absolute;
    left: 25%;
  }
}

nav ul {
  list-style-type: none;
  border: 1px solid #555;
  padding: 0;
}

li a {
  display: block;
  text-decoration: none;
}

nav li {
  text-align: center;
  border-bottom: 1px solid #555;
}

nav li:last-child {
  border-bottom: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

#main-doc {
  margin: 1rem;
}
