body {
  margin: 0;
  padding: 0;
  font-family: adelle;
}

header {
  font-size: 1.5rem;
  font-weight: 700;
}

code {
  display: block;
  padding: 0.5rem;
  background-color: lightgray;
  border: 1px solid black;
}

#navbar {
  width: 300px;
}

nav ul {
  list-style-type: none;
}

li a {
  display: block;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

#main-doc {
  margin: 1rem;
}
