/*  General layout */
body {
  margin: 0 0;
  --header-height: 100px;
  --container-width: 90%;

  font-family: Arial;
  text-align: center;
  background-color: lightgray;
}

html {
  scroll-padding-top: 150px; /*to make sure refs move to correct position, taking fixed header into account */
}

/* Header layout */

#navbar {
  background-color: white; /* color makes sure scrolling text is does not display through header */
  border-bottom: 1px solid black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  margin-right: 2rem;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: larger;
}

/* Container layout */
.container {
  padding-top: var(--header-height); /* To account for fixed header */

  width: var(container-width);
  margin: 2rem auto;
  max-width: 960px;
}

/* Welcome section layout */
#welcome-section {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Projects section layout */

.project-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .project-overview {
    display: inline;
  }
}

.project-image {
  max-width: 350px;
}

.project-tile {
  border: 1px solid black;
  margin: 1rem;
}
