/*  General layout */
body {
  margin: 0 0;
  --header-height: 100px;
  --container-width: 90%;
}

h2 {
  text-align: center;
}

/* Header layout */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#header {
  background-color: white; /* color makes sure scrolling text is does not display through header */
  border-bottom: 1px solid black;
}

.top_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

#header-img {
  max-height: var(--header-height);
}

.bottom_header {
  width: 75%;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;
}

#form {
  margin-right: 1.5rem;
}

.alert_header {
  font-size: 1rem;
  text-transform: uppercase;
}

/* Container layout */
.container {
  padding-top: var(--header-height); /* To account for fixed header */

  width: var(container-width);
  margin: 2rem auto;
  max-width: 960px;
}

/* Video section layout */
#video_section {
  text-align: center;
}

/* Products section layout */
#products_section {
}

.product-card {
  width: 30%;
}

.product-overview {
  display: flex;
  justify-content: space-evenly;
}

.product-name {
  color: grey;
  font-size: 2rem;
}

.product-image {
  max-width: 150px;
}

/* Dealers section layout */
.dealer-card {
  display: flex;
  align-items: center;
}

.dealer-name {
  margin: 0 2rem;
  width: 20rem;
}

.dealer-link {
}
