body {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0;
}

h5 {
  margin-bottom: 0.5rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}

nav {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 1em;
  margin-bottom: 0;
  font-size: 1.5rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#header-img {
  max-width: 100px;
  object-fit: cover;
  margin: 0 0;
}

#form {
  margin-left: 1rem;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 960px;
  text-align: center;
}

.product-card {
  display: flex;
}

.product-name {
  font-weight: 700;
  width: 25%;
}

.product-description {
  width: 60%;
}
